body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

input {
  width: 50px;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

h1 {
  color: #333;
}

.enemy {
  margin: 1rem 0;
  font-weight: bold;
  color: red;
}
